<h1>Welcome to the Recipe Box!</h1>

<p>@Html.ActionLink("LOG IN", "Index", "Account")</p>

<p>@Html.ActionLink("VIEW RECIPES BY CATEGORIES", "Index", "Categories")</p>
<p>@Html.ActionLink("FIND RECIPE BY INGREDIENTS", "Index", "Ingredients")</p>